<span class="e5e-title">Recorrido<br/>Sugerido</span>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Información</span>
    </p>
    <p class="roboto">
      <small>Desde: <%=from_address%><br/>Hasta: <%=to_address%></small>
    </p>
    <p class="roboto">
      <small>Costo de tu viaje: $ <%=price%><br/>Distancia: <%=distance%><br/>Duración: <%=duration%></small>
    </p>
  </div>
</div>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Indicaciones</span>
    </p>
    <div id="rows-container">
    </div>
  </div>
</div>