<span class="e5e-title">Taxi/Remis</span>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Información</span>
    </p>
    <p class="roboto">
      <small>Aquí podrás calcular el precio y tiempo estimado que tendrá tu viaja en Taxi o Remis. Tené en cuenta que los datos provistos son a modo de referencia y pueden variar de acuerdo a factorescomo el tránsito.<br/>También te ofrecemos una referencia del camino más rápido para llegar a tu destino.</small>
    </p>
  </div>
</div>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Taxis y </span><span class="roboto" style="color: green;">Remises</span>
    </p>
    <p class="roboto">
      <small>Dejá vacio el campo que desees que sea obtenido desde el GPS de tu dispositivo.</small>
    </p>
    <p>
      <input type="text" name="text-basic" id="taxiFrom" placeholder="Ingresá dónde lo tomarás" value="" data-bb-clear="none">
    </p>
    <p>
      <input type="text" name="text-basic" id="taxiTo" placeholder="Ingresá a dónde queres ir" value="" data-bb-clear="none">
    </p>
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" data-webworks-context="none" id="search-taxis" class="e5e-button">Consultar</a></div>
    <!--<div class="ui-block-b"><a href="#" data-role="none" class="e5e-button">Buscar</a></div>-->
  </fieldset>
</div>