<span class="e5e-title">Saldo</span>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Tenga en cuenta...</span>
    </p>
    <p class="roboto">
      <small>Aquí se mostrarán sus últimas consultas. Es probable que Red Bus demore hasta 2 días en actualizar el saldo.</small>
    </p>
  </div>
</div>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Historial</span>
    </p>
    <div id="rows-container">
    </div>
  </div>
</div>