<span class="e5e-title">Linea <%=line %></span>

<div class="e5e-card ui-corner-all ui-shadow">
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a href="javascript:;" data-webworks-context="none" id="goBtn" class="e5e-button">Ida</a></div>
    <div class="ui-block-b"><a href="javascript:;" data-webworks-context="none" id="returnBtn" class="e5e-button" disabled="disabled">Vuelta</a></div>
  </fieldset>
</div>

<div id="go-rows-container"></div>

<div id="return-rows-container" style="display: none;"></div>