<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto"><%=name%> a <%=distance%> mts</span>
    </p>
    <hr style="border-top: 1px dotted #EAEAEA; border-bottom: 0;" />
    <p class="roboto">
      <small>Debes ascender en <%=text_from%><br/>Empresa: <%=company%></small>
    </p>
    <p class="roboto" style="text-align: center; color: #CCC; font-size: 0.8em;">
      <small>...</small>
    </p>
    <p class="roboto">
      <small>Debes descender en <%=text_to%><br/>Destino a <%=distance_to%> mts.</small>
    </p>
  </div>
  <!--<fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="" target="_BLANK" data-role="none" class="e5e-button">Abrir Noticia</a></div>
  </fieldset>-->
</div>