<span class="e5e-title">Colectivos</span>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Encontrá tu </span><span class="roboto" style="color: orange;">Colectivo</span>
    </p>
    <p class="roboto">
      <small>Dejá vacio el campo que desees que sea obtenido desde el GPS de tu dispositivo.</small>
    </p>
    <p>
      <input type="text" name="text-basic" id="busFrom" placeholder="Ingresá dónde lo tomarás" value="" data-bb-clear="none">
    </p>
    <p>
      <input type="text" name="text-basic" id="busTo" placeholder="Ingresá a dónde queres ir" value="" data-bb-clear="none">
    </p>
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" id="search-buses" data-webworks-context="none" class="e5e-button">Buscar</a></div>
    <!--<div class="ui-block-b"><a href="#" data-role="none" class="e5e-button">Buscar</a></div>-->
  </fieldset>
</div>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Lineas de </span><span class="roboto" style="color: #2980B9;">Colectivos</span>
    </p>
    <p class="roboto">
      <small>Acá podrá ver las líneas de Colectivo de la ciudad. Seleccione una línea para conocer sus paradas.</small>
    </p>
    <p>
      <select name="select-line" id="select-line">
        <option value="-1">Seleccionar línea</option>
      </select>
    </p>
  </div>
  <fieldset class="ui-grid-solo">
    <div class="ui-block-a"><a href="javascript:;" id="seeLine" data-webworks-context="none" class="e5e-button">Ver línea</a></div>
    <!--<div class="ui-block-b"><a href="#" data-role="none" class="e5e-button">Buscar</a></div>-->
  </fieldset>
</div>