<div id="start-screen" data-bb-type="screen" data-bb-effect="fade">
    <div id="e5e-container"></div>
         
    <div data-bb-type="action-bar" id="action-bar">
        <!-- Buttons -->
        <div data-bb-type="action" id="panel-news" data-bb-overflow="true" data-bb-style="tab" data-bb-img="images/ic_news.png">Noticias</div>
        <div data-bb-type="action" id="panel-buses" data-bb-overflow="true" data-bb-style="tab" data-bb-selected="true" data-bb-img="images/ic_bus.png">Colectivos</div>
        <div data-bb-type="action" id="panel-card" data-bb-overflow="true" data-bb-style="tab" data-bb-selected="true" data-bb-img="images/ic_card.png">Red Bus</div>
        <div data-bb-type="action" id="panel-taxi" data-bb-overflow="true" data-bb-style="tab" data-bb-selected="true" data-bb-img="images/ic_taxi.png">Taxi/Remis</div>

        <!-- Share -->
        <div data-bb-type="action" data-bb-style="button" data-bb-overflow="true" data-bb-img="images/ic_bbm.png" id="bbm-invite">Invite to your friends</div>
        <div data-bb-type="action" data-bb-style="button" data-bb-overflow="true" data-bb-img="images/ic_share.png" id="bbm-share">Share this app</div>
    </div>
</div>