<span class="e5e-title">Red Bus</span>

<div class="e5e-card ui-corner-all ui-shadow">
  <div class="e5e-card-container">
    <p>
      <span class="roboto">Saldo </span><span class="roboto" style="color: red;">Red Bus Córdoba</span>
    </p>
    <p>
      <input type="number" name="dni" id="dnitxt" placeholder="D.N.I." value="" data-bb-clear="none">
    </p>
    <p>
      <input type="number" name="card" id="cardtxt" placeholder="Nro. Tarjeta" value="" data-bb-clear="none">
    </p>
    <p style="text-align: center;">
      <img id="captcha" src="" width="350" data-webworks-context="none" />
    </p>
    <p>
      <input type="text" name="captcha" id="captchatxt" placeholder="Captcha" value="">
    </p>
  </div>
  <fieldset class="ui-grid-a">
    <div class="ui-block-a"><a href="javascript:;" id="history" data-webworks-context="none" class="e5e-button">Historial</a></div>
    <div class="ui-block-b"><a href="javascript:;" id="request" data-webworks-context="none" class="e5e-button">Consultar</a></div>
  </fieldset>
</div>